
body {
  font-family: 'Open Sans',Arial,sans-serif;
  line-height: 1.5;
  text-align; center;
  margin: 0 auto;
}
nav {
  background-color: #f6f6f6;
  width: 100%;
  text-align: center;
  padding: 20px ;
}
#navbar header {
  font-size: 30px;
}
#navbar ul {
  width: 100%
  margin: auto;

}
#navbar li {
  list-style: none;
  background-color: rgb(228, 250, 132);
  text-decoration: none;
  text-align: left;
  margin-left: 40px;
  border: 1px solid rgb(151, 151, 151);
  width: 70%;
}
#navbar a {
  text-decoration: none;
  cursor: pointer;
}
#main-doc {
  max-width: 90%;
  text-align: justify;
  margin: auto;
}
.main-section {
  padding: 40px 0;
}
header {
  font-size: 20px;
  text-align: center;
}
